version: "3"

services:

  django:
    image: django_image
    container_name: django_server
    build:
      context: .
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    command: ["python","manage.py","runserver","0.0.0.0:8000"]
    ports:
      - "82:8000"
    networks:
      app_net:
        ipv4_address: 172.16.238.10

networks:
  app_net:
    ipam:
      driver: default
      config:
        - subnet: "172.16.238.0/24"
